#!/bin/sh

ip(){
        for i in $(docker ps -a | grep helloworld | awk '{print $1}');do      
                docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' $i
        done
}

## Execute ######################################################
ip

